{% extends 'web/base2.html' %}
{% block title %}About{% endblock %}



{% block body %}
<div class="row">
    <div class="col-md-2 col-md-offset-1 ">
        <div class="my-auto">
            <img src="{{info.photo.url}}" class="img-responsive"  >

        </div>
        </div>
     <div class="col-md-8 " style="padding-left: 40px">
        <div class="my-auto">
          <h1 class="mb-0" > <font size="7" color="black"> {{info.Name }} </font>
          </h1>
                <span class="text-primary">
                <div class="subheading mb-5" style="padding-bottom: 40px ; size: 15px">{{info.Designation}} · {{info.Dept}} · {{info.Phone}} .
            <a href="mailto:name@email.com">{{info.webmail}}</a>

             </div>

                </span>
        </div>
     </div>
</div>


<div class="container-fluid ">
        <div class="row" >
            <div class="col-md-4 col-md-offset-2 ">

                    <h1 style="color:black">
                        <font size="5" aria-atomic="true">
                        Office
                        </font>
                    </h1>
                    <h2>
                        <ul>
                            <li style="padding-bottom: 5px">
                                {{ info.room }}
                            </li>
                            <li style="padding-bottom: 5px">
                                Phone:{{ info.Phone }}
                            </li>

                        </ul>
                    </h2>
                </div>
                <div class="col-md-4">
                    <h1 style="color:black">
                        <font size="5">
                        Residence
                        </font>
                    </h1>
                    <h2>
                        <ul id="info">
                            <li style="padding-bottom: 5px">
                                {{ info.residence }}
                            </li>

                        </ul>
                    </h2>
                </div>
        </div>
    </div>
{% endblock %}
