{% extends 'web/base2.html' %}
{% block title %}Recognitions{% endblock %}

{% block body %}
 <div class="container-fluid">
        <div class="row"> <font size="7">
            <h1 style="padding-bottom: 20px; color: black">
                <span class="glyphicon glyphicon-th"></span> Recognitions
            </h1>
            {% if user.is_authenticated %}
             <h2 align="right">
            <button type="button"  height="20px" width="50px" ><a href="{% url 'web:recognitioncreate' info.Dept.id info.id %}"> Add more!</a></button>
        </h2>
            {% endif %}
        </font>

        <div class="row">
            <ul style="list-style-type:disc">
            {% for recognition in info.recognition_set.all %}
                <li style="padding-bottom: 8px">
                    {{ recognition.recgonition_details }}
                     {% if user.is_authenticated %}
                    <p align="right"><a href="{% url 'web:recognitionupdate' recognition.id %}">Update</a> </p>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
